*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.firebaserc
.firebase.json
.firestore.index.json
.firestore.rules
.firestore-debug.log
.database.rules.json
.package-lock.json
/functions